<resources>
    <settings>
        <setting propertyKey="@Properties.TO" title="@Strings.TO">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.HL" title="@Strings.HL">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.HR" title="@Strings.HR">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.HF" title="@Strings.HF">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.TH" title="@Strings.TH">
            <settingConfig type="list">
                <listEntry value="0">@Strings.Blue</listEntry>
                <listEntry value="1">@Strings.Violet</listEntry>
                <listEntry value="2">@Strings.Mint</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.CC" title="@Strings.CC">
            <settingConfig type="list">
                <listEntry value="1">@Strings.Primary</listEntry>
                <listEntry value="2">@Strings.Secondary</listEntry>
                <listEntry value="3">@Strings.Tertiary</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.LC" title="@Strings.LC">
            <settingConfig type="alphaNumeric" maxLength="100000" />
        </setting>
        <setting propertyKey="@Properties.CN1" title="@Strings.CN1">
            <settingConfig type="alphaNumeric" maxLength="20" />
        </setting>
        <setting propertyKey="@Properties.LC2" title="@Strings.LC2">
            <settingConfig type="alphaNumeric" maxLength="100000" />
        </setting>
        <setting propertyKey="@Properties.CN2" title="@Strings.CN2">
            <settingConfig type="alphaNumeric" maxLength="20" />
        </setting>
        <setting propertyKey="@Properties.LC3" title="@Strings.LC3">
            <settingConfig type="alphaNumeric" maxLength="100000" />
        </setting>
        <setting propertyKey="@Properties.CN3" title="@Strings.CN3">
            <settingConfig type="alphaNumeric" maxLength="20" />
        </setting>
    </settings>
</resources>